include i/head
body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Timekeeping
        div.nav-collapse.collapse
          include i/menu
  div.container
    h1 Adminning?  Sweeeeeet
    h2 Projects
    -for(var project in locals.projects)
      h4(class="indent2 "+(locals.projects[project].archived?"archived":""))!= locals.projects[project].name + "<a href=\"/admin?action=" + (locals.projects[project].archived?"reviveproject":"archiveproject") + "&name=" + locals.projects[project].name + "\" class=\"small\">"+ (locals.projects[project].archived?"resurrect":"bury") +"</a>";
    form.form-horizontal#projectform
      include i/errorbox 
      div.control-group
        label.control-label(for="projectname") New Project:           
        div.controls: input#name.input-small(placeholder="Project Name",name="name")
      div.control-group
        input#action(type="hidden",name="action",value="createproject")
        div.controls: button.btn.btn-primary#createproject(type="submit") Create Project
    h2 Tasks
      ul
        -for(var task in locals.tasks)
          li(class=locals.tasks[task].archived?"archived":"")!= locals.tasks[task].name

  include i/feeter

