include i/head
body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Timekeeping
        div.nav-collapse.collapse
          include i/menu
  div.container
    h1 Adminning?  Sweeeeeet
    h2 Projects
      ul
        -for(var project in locals.projects)
          li(class=locals.projects[project].archive?"archived":"")!= locals.projects[project].name
    h2 Tasks
      ul
        -for(var task in locals.tasks)
          li(class=locals.tasks[task].archive?"archived":"")!= locals.tasks[task].name

  script(src="/js/jquery.js")
  
