include i/head
body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Timekeeping
        div.nav-collapse.collapse
          include i/menu
  div.container
    h1 Adminning?  Sweeeeeet
    h2 Projects
    div#projectlist
      -for(var project in locals.projects)
        h4(class="indent2 "+(locals.projects[project].archived?"archived":""))!= locals.projects[project].name + "<a href=\"/admin?action=" + (locals.projects[project].archived?"reviveproject":"archiveproject") + "&name=" + locals.projects[project].name + "\" class=\"small\">"+ (locals.projects[project].archived?"resurrect":"bury") +"</a>";
    h3 Create Project:
    form.form-horizontal#projectform
      include i/errorbox 
      div.control-group
        label.control-label(for="projectname") New Project:           
        div.controls: input#name.input-small(placeholder="Project Name",name="name")
      div.control-group
        input#action(type="hidden",name="action",value="createproject")
        div.controls: button.btn.btn-primary#createproject(type="submit") Create Project
    h2 Tasks
      div#tasklist
        -for(var task in locals.tasks)
          h4(class="indent2 "+(locals.tasks[task].archived?"archived":""))!= locals.tasks[task].name
      h3 Create Task:
      form.form-horizontal#taskform
        include i/errorbox
        div.control-group
          label.control-label(for="taskname") New Task:
          div.controls: input#name.input-small(placeholder="Task Name",name="name")
        div.control-group
          label.control-label(for="projectname") Associated Project:
          div.controls: select#projectname.input-medium(name="projectname")
            -for(var project in locals.projects)
              option(value=locals.projects[project].id) locals.projects[project].name
        div.control-group
          input#action(type="hidden",name="action",value="createtask")
          div.controls: button.btn.btn-primary#createtask(type="submit") Create Task
      

  include i/feeter

