include i/head
body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Timekeeping
        div.nav-collapse.collapse
          include i/menu
  div.container
    h1 Time Tracker;
    h2 Track Time
    form.form-inline#timeform
      p.localstoragewarning.error.hidden Warning: you cannot refresh once you start the timer
      input#timername.input-medium(name="timername",placeholder="Timer Name")
      -var ddd = -1;
      select#projectname.input-medium(name="projectname",placeholder="Project Name")
        -for(var i in locals.projects)
          -if(locals.projects[i].archived){ continue; }
          -if(ddd == -1){ ddd = locals.projects[i].id; }
          option(value=locals.projects[i].id)!= locals.projects[i].name

      select#taskname.input-medium(name="taskname",placeholder="Task Name")
        -for(var i in locals.tasks)
          -if(locals.tasks[i].archived){ continue; }
          -if(locals.tasks[i].project_id == ddd)
            option(value=locals.tasks[i].id)!= locals.tasks[i].name

      button.btn.btn-primary#starttimer(type="submit") Start Timer
    h2 Open Timers
    div#timers
    h2 Timer History
    div#history 
  include i/feeter 
