include i/head
body
  div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
      div.container
        a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href="#") Timekeeping
        div.nav-collapse.collapse
          include i/menu
  div.container
    h1 Time Tracker;
    h2 Track Time
    form#timeform
      p.localstoragewarning.error.hidden Warning: you cannot refresh once you start the timer
      script
        if(!("localStorage" in window && window["localStorage"] !== null)){
          $("#timeform > p.localstoragewarning").show();
        }
  include i/feeter 
