include ../i/date
-var weekdays = ["S","M","T","W","T","F","S","TOTAL"];
div.timeentryheader
  h2
    button.btn-mini.btn-info.dateleft &lt;
    span &nbsp;
    span(block="dateheader")
      include dateheader
    button.btn-mini.btn-info.dateright &gt;
    span &nbsp;
    button.btn-mini.btn-info.jumptotoday Go to Today
table
   tr
     -for(var i in weekdays)
       th(class="col"+i+((new Date(locals.date||new Date())).getDay() == i?" active":""))!= weekdays[i];
   tr
      td(colspan=weekdays.length)
        div(block="timeview")
div.TEnewtimer
  h4 
    label(for="project") Project/Task
  select.fillprojects(name="project",id="TEproject",block="projectoptions")
  select.filltasks(name="tasks",id="TEtask",block="taskoptions")
  textarea(name="notes",id="TEnotes")
  input(name="id",value="",type="hidden",id="TEid")
  input(name="date",value=locals.date,id="TEdate",type="hidden")
  input(name="hours",value="0.00",id="TEtime",type="number")
  button.btn#TEsave Save
  button.btn#TEstart Start Timer
