script(src="/js/jquery.js")
script(src="/js/bootstrap-transition.js")
script(src="/js/bootstrap-alert.js")
script(src="/js/boostrap-modal.js")
script(src="/js/boostrap-dropdown.js")
script(src="/js/boostrap-scrollspy.js")
script(src="/js/boostrap-tab.js")
script(src="/js/boostrap-tooltip.js")
script(src="/js/boostrap-popover.js")
script(src="/js/boostrap-button.js")
script(src="/js/boostrap-collapse.js")
script(src="/js/boostrap-carousel.js")
script(src="/js/boostrap-typeahead.js")
script(src="/js/boostrap-affix.js")

-if(locals.scripts && typeof locals.scripts == "object")
  -for(var s in locals.scripts)
    script(src=locals.scripts[s])
-if(locals.stylesheets && typeof locals.stylesheets == "object")
  -for(var s in locals.stylesheets)
    link(rel="stylesheet",href=locals.stylesheets[s])
